<div class="container my-5">
    <div class="row justify-content-center">
        <h2 class="text-center">Create Quiz Category</h2>
        <form method="post" class="col-8 text-center">
            <div class="form-floating my-5">
                <input type="text" class="form-control border border-2" id="floatingInput" name="categoryName"
                    placeholder="categoryName">
                <label for="floatingInput">Category Name</label>
            </div>
            <button class="btn btn-primary btn-lg px-5 py-2" type="submit">Create <i
                    class="fa-solid fa-tag"></i></button>
        </form>
    </div>
</div>