<h2 class="text-center my-5">Pending quizzes! ({{quizzesCount}})</h2>

<div class="container">
    <div class="row">
        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
            {{#each quizzes}}
            <div class="card w-50 border border-2 border-dark text-center">
                <div class="card-header bg-dark text-white">
                    Title: {{this.title}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Category: {{this.category.name}}</li>
                    <li class="list-group-item">Questions Count: {{this.questionsCount}}</li>
                    <li class="list-group-item">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button">Complete Quiz</button>
                        </div>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
</div>