@import url("bootstrap.min.css");

:root {
    --clr-primary: #5E78C2;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.navbar {
    background-color: var(--clr-primary);
    color: white;
}

.navbar a {
    color: #E8EFFF;
}

.navbar .collapse .navbar-nav:nth-child(2) {
    margin-right: 7rem;
}

.navbar .collapse .navbar-nav:nth-child(2) img {
    height: 3rem;
    cursor: pointer;
}

footer {
    background-color: var(--clr-primary);
    color: white;
    margin-top: auto;
}

.dropdown-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropdown-center .dropdown-menu {
    left: auto;
    right: 50%;
    transform: translateX(50%);
}

@media only screen and (max-width: 991px) {
    nav .secondNav {
        display: block !important;
    }

    .dropdown-center {
        display: block;
        justify-content: normal;
        align-items: normal;
        position: static;
    }

    .dropdown-center .dropdown-menu {
        left: auto;
        right: auto;
        transform: none;
    }
}