@import url("bootstrap.min.css");

:root {
    --clr-primary: #5E78C2;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.navbar {
    background-color: var(--clr-primary);
    color: white;
}

.navbar a {
    color: #E8EFFF;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--clr-primary);
    color: white;
    margin-top: auto;
}