<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="text-center">Register</h2>
            <form class="col-6 mt-2" method="POST" enctype="multipart/form-data">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control border border-2" id="floatingInput" name="username"
                        placeholder="username" value="{{username}}">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Choose profile image</label>
                    <input class="form-control form-control-lg" type="file" name="image" id="formFile">
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control border border-2" id="floatingPassword" name="password"
                        placeholder="password" value="{{password}}">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control border border-2" id="floatingRepeatPassword"
                        name="repeatPassword" placeholder="repeatPassword" value="{{repeatPassword}}">
                    <label for="floatingRepeatPassword">Repeat Password</label>
                </div>
                <div>
                    <a href="/users/login">Already have an account? Login here!</a>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary btn-lg px-5" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</main>